<!DOCTYPE html>
<html lant="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Alterar</title>

    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/auth.js"></script>
</head>
<body>

<label for="contractInput">Digite o número do contrato para editar:</label>
<input type="text" id="contractInput" placeholder="Ex: 123" />

<a href="/index" class="botao">Voltar</a>

<a class="botao" onclick="irParaEdicao()">Editar Orçamento</a>

<a class="botao" onclick="confirmarDelecao()">Deletar Orçamento</a>

<script>
    async function irParaEdicao() {
      const contract = document.getElementById("contractInput").value;

      if (!contract) {
        alert("Por favor, informe o número de contrato para editar.");
        return;
      }

      try {
        const response = await fetch(`/clients/${contract}`); // Verifica se o contrato existe

        if (response.ok) {
          window.location.href = `/edit/${contract}`;
        } else if (response.status === 404) {
          alert("Contrato não encontrado. Verifique o número digitado.");
        } else {
          alert("Erro ao verificar contrato. Tente novamente mais tarde.");
        }
      } catch (error) {
        console.error("Erro na requisição:", error);
        alert("Erro de conexão com o servidor.");
      }
    }

    async function confirmarDelecao() {
    const contract = document.getElementById("contractInput").value;

    if (!contract) {
      alert("Por favor, informe o número de contrato para deletar.");
      return;
    }

    const confirmar = confirm(`Tem certeza que deseja deletar o contrato ${contract}?`);

    if (!confirmar) {
      return; // Usuário cancelou
    }

    try {
      const response = await fetch(`/deletar/${contract}`, { method: "DELETE" });

      if (response.ok) {
        alert("Contrato deletado com sucesso.");
      } else if (response.status === 404) {
        alert("Contrato não encontrado. Verifique o número digitado.");
      } else {
        alert("Erro ao deletar contrato. Tente novamente mais tarde.");
      }
    } catch (error) {
      console.error("Erro na requisição:", error);
      alert("Erro de conexão com o servidor.");
    }
 }
</script>



</body>
</html>