<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Gerar Orçamento em PDF</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/auth.js"></script>
    <style>

    </style>
</head>
<body>

<form action="/gerar-pdf-existente" method="post">
    <label>Informe o número do contrato para geração do PDF:</label>
    <input type="text" name="numeroContrato" placeholder="Número do contrato" required>
    <button type="submit" class="botao">Visualizar Contrato</button>
</form>



</body>
</html>