    <!doctype html>
    <html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Droneair System</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/auth.js" defer></script>
    </head>

    <body>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <div style="text-align: center;">
        <img src="/images/logo-Droneair.png" alt="logo-Droneair" width="120" id="logodroneair"/>
    </div>

    <div class="botao-container">

        <div class="top-section">
            <h1>Gerenciador de Orçamentos Droneair</h1>

            <div class="botao-container">
                <a href="/NovoOrcamento" class="botao">Novo Orçamento</a>
                <a href="/clients" class="botao">Consultar Orçamentos e Imprimir</a>
                <a href="/alterar" class="botao">Alterar ou Deletar um Orçamento</a>
            </div>
        </div>
    </div>


    </body>

    </html>

